h2,
h4 {
  margin: 1px;
}

.user-image {
  height: 140px;
  width: 140px;
  border-radius: 100%;
  border: 5px solid #fff;
  margin: 10px;
}

.user-name {
  color: #fff;
}

.user-details-content {
  color: #ffffffbf;
  font-weight: 100;
  margin-top: 6px;
  justify-content: center;
}

.user-details {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.contact-details {
  margin-top: 16px;
}

.contact-details-icon {
  text-align: center;
  margin-left: 10px;
  color: #fff;
  background: rgba(230, 230, 230, 0.6705882353);
  padding: 7px;
  border-radius: 100%;
}

.users-intro {
  margin-top: 16px;
  width: 300px;
}

.tech-stack-chips {
  margin-top: 20px;
}
